<div class="contact">
    <a href="/#" ><i class="fa-solid fa-phone"></i>+01-12424323</a>
    <a href="/#" ><i class="fa-solid fa-envelope"></i>BangarHospital@gamil.com</a></a>
    <div class="social">
        <a href="/#"></a>
        <div class="media">
            <a href="/#"><i class="fa-brands fa-facebook"></i></a>
        </div>
        <div class="media">
            <a href="/#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>


<div class="sticky-bar">
    
    <div class="menu">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="https://brijeshbangerhospital.com/images/vlogobg.png" alt="Logo" height="50">
                </a>

                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a   href="/aboutBBMH"  class="nav-link dropdown-toggle"id="aboutDropdown" role="button" data-bs-toggle="dropdown">About Us</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/aboutBBMH">About BBMH</a></li>
                                <li><a class="dropdown-item" href="/empanelments">Empanelments</a></li>
                                <li><a class="dropdown-item" href="/doct">Our Doctors</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/specialities" class="nav-link dropdown-toggle"  id="servicesDropdown" role="button" data-bs-toggle="dropdown">services</a>
                            <ul class="dropdown-menu">
                                <!-- <li><a class="dropdown-item" href="/specialities">All Specilities</a></li> -->
                                    <li><a class="dropdown-item" href="/ent">ENT</a></li>
                                    <li><a class="dropdown-item" href="/Gynecology">Gynecology</a></li>
                                    <li><a class="dropdown-item" href="/Gastrology">Gastroenterology</a></li>
                                    <li><a class="dropdown-item" href="/Neurosurgery">Neurosurgery</a></li>
                                    <li><a class="dropdown-item" href="/JointReplacement">Joint Replacement</a></li>
                                    <li><a class="dropdown-item" href="/OrthoPedic">Orthopaedic</a></li>
                                    <li><a class="dropdown-item" href="/Plasticsurgery">Plastic Surgery</a></li>
                                    <li><a class="dropdown-item" href="/SportsInjuries">Sports Injury</a></li>
                                    <li><a class="dropdown-item" href="/Urology">Urology</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/news">News & Media</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blogs">Blogs</a></li>
                        <li class="nav-item"><a class="nav-link" href="/appointment">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="icon">
        <a href="#"><img src="https://babajiayurveda.in/images/about-nabh.png" alt="Logo"></a>
    </div>
</div>